body{
    color: blueviolet;
    background-color: black;
    margin: 4px;
}

.container-outer{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    float: left;
}

.container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: space-between;
}

.header{
    width: 100%;
    height: 20%;
    margin: 4px;
    background: #121212;
}

.sidebar_first{
    width: 100%;
    height: 80%;
    margin: 4px;
    background: #121212;
    overflow: scroll;
    scrollbar-color: rgb(121, 121, 121) transparent;
}

.sidebar_first .field-content{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.content {
    width: 70%;
    height: 100%;
    margin: 4px;
    color: rgb(255, 255, 255);
    background: #121212;
}

.footer{
    width: 30%;
    height: 30%;
    background: blue;
}

.results{
    background-color: chartreuse;
}
