<div class="container-outer">
  <div class="container">
    <div class="header">
        {{ page.header }}
    </div>
    <div class="sidebar_first">
      {{ page.sidebar_first }}
    </div>
  </div>
  <div class="content">
    {{ page.content }}
  </div>
</div>
<div class="footer">
    {{ page.footer }}
</div>